<mat-sidenav-container> 
    <mat-sidenav #sidenav mode="side"  class="app-sidenav" [opened]="true">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="''"> Build Model </a>
        <a mat-list-item [routerLink]="'/pseudoanonymize'"> Pseudoanonymize </a>
        <a mat-list-item [routerLink]="'/twitter-live'"> Twitter Live </a>
        <a mat-list-item [routerLink]="'/kanonymize'"> K-Ano </a>
      
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-tool-bar [sidenav]="sidenav"></app-tool-bar> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>

     
   </mat-sidenav-container>