<app-navbar></app-navbar>
<!-- <mat-sidenav-container class="app-inner"> 
    <mat-sidenav #sidenav  class="app-sidenav">
      <mat-nav-list>
  
        <a mat-list-item [routerLink]="'/accounts'"> Build Model </a>
        <a mat-list-item [routerLink]="'/create-account'"> Pseudo anonymize </a>
        <a mat-list-item [routerLink]="'/contacts'"> Predictions </a>
        <a mat-list-item [routerLink]="'/activities'"> Twitter Live </a>
  
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-tool-bar [sidenav]="sidenav"></app-tool-bar> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>

     
   </mat-sidenav-container> -->

   
  
  <!-- <span class="app-action" [class.m2app-dark]="isDarkTheme">
    <button md-fab><md-icon>check circle</md-icon></button>
  </span> -->