<div class="app-content">

    <mat-card>
        <mat-card-content>
            <p>Click the button to train the model</p>
            <button mat-raised-button color="accent" >TRAIN MODEL</button>
             <mat-progress-spinner diameter="40"
            mode="indeterminate" value="100" style="float: right;"></mat-progress-spinner>
            <p style="float: right;">Model Trained successfully</p>
            <mat-chip-list >
                <mat-chip style="margin-top: 20px;">Model accuracy </mat-chip>
            </mat-chip-list>
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
          </mat-card-actions>
      
    </mat-card>

    </div> 